*.csv filter=lfs diff=lfs merge=lfs -text
*.shp filter=lfs diff=lfs merge=lfs -text
Datasets/LAD_MAY_2025_UK_BFC_2360005762104150824/*.shp filter=lfs diff=lfs merge=lfs -text
Datasets/UK/dft-road-casualty-statistics-vehicle-last-5-years.csv filter=lfs diff=lfs merge=lfs -text
